{% extends "registration/base.html" %}
{% load staticfiles %}
{% block title %}Activation complete{% endblock %}

{% block body %}



<div class="container-fluid">
  <div id="page-login" class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="text-right">
        
      </div>
      <div class="box">
        <div class="box-content">
          
  <h1>Congratulations!</h1>
<p>Your registration is now complete. Go to the site and start having fun! you can now : <a href="../../login"> Sign In
</a></p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}